.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    padding: 10px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    z-index: 100;
}