.link{
    display: flex;
    gap: 10px;
}
.menu{
    display: none;
    cursor: pointer;
    z-index: 100;
}
.mobileDevice{
    display: none;
    z-index: -1;
}

@media (max-width:640px) {
    .link{
        display: none;
    }
    .menu{
        display: block;
        cursor: pointer;
        z-index: 100;
        animation: sildIn 1.5 ease ;
        font-size: 20px;

    }
    .mobileDevice{
        position: absolute;
        top: 0; 
        right: 0;
        height: calc(60vh - 10px);
        width: 100%;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        overflow: hidden;
        animation: sildIn 1.5s ease;
        z-index: -1;
    }
    @keyframes sildIn {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
        
    }
   
}